{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "react/self-closing-comp": "off",
    "no-param-reassign": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-closing-bracket-location": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "react/jsx-indent": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-fragments": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/jsx-curly-brace-presence": "off",
    "spaced-comment": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-tag-location": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "consistent-return": "off",
    "object-curly-newline": "off",
    "eol-last": 0,
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ]
  }
}
